<div class="body">
  <div class="main-header">
    <div class="central-line"></div>
    <%=image_tag 'logoLight.png', class:"image-center-logo" %>
    <div class="main-header-image-left">
      <%# <%=image_tag 'photoIntro.jpeg', style:"width:100%;border-right:1px solid #BF7857;border-bottom-right-radius:50px" %>
    </div>
    <div class="main-header-image-right">
      <%# <img src="https://images.unsplash.com/photo-1598901986949-f593ff2a31a6?q=80&w=2994&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" style="width:100%;border-left:1px solid #BF7857;border-bottom-left-radius:50px"> %>
    </div>
  </div>
  <div class="main-content">
    <div class="image-separator1">
      <%=image_tag 'pageSeparatorTopLight.png'%>
    </div>
    <div class="main-content-text">
      <%# <h2>À propos</h2> %>
      <p>Heureux d’une riche carrière professionnelle au sein de prestigieuses institutions (CCN Ballet de Lorraine et Malandain Ballet Biarritz), j’ai développé un intérêt pour le bien-être du corps, véritable outil de travail. Titulaire du D.E. d’enseignant de danse classique, je connais bien l’anatomie et la pédagogie.</p>
      <p>Je suis formé au massage du visage Kobido par l’institut <a href="https://www.takumifinch.com">Takumi Finch</a> et au foot massage thaïlandais par la célèbre école de WatPo à Bangkok.</p>
      <p>Certifié coach MUNZ FLOOR® par <a href=" https://maisonmunz.com">MAISON MUNZ</a>.</p>
      <p>Je vous propose donc aujourd’hui deux moyens pour prendre soin de vous: des cours de MUNZ FLOOR et des massages bien-être.</p>
      <p style="margin-bottom:0">Vous vous sentez immédiatement reconnecté à votre corps. Votre esprit s’ancre dans le moment présent.</p>
    </div>
    <div class="image-separator2">
      <%=image_tag 'pageSeparatorBottomLight.png'%>
    </div>
    <div class="massage1">
      <div class="massage1-content">
        <div class="massage1-text">
          <h1 style="">RAYA</h1>
          <p>Le massage Raya est mon massage signature.</p>
          <p>Parfois doux, parfois profonds, les mouvements enveloppent votre corps à l’aide d’huile. Adapté à tous, il se reçoit sur table.</p>
          <p>À l’écoute de vos besoins, je propose un massage bien-être relaxant. Mon but est de vous offrir une déconnection totale de l’esprit, par le corps. Le toucher apaise et libère les tension. Comme une danse, vous retrouvez liberté et envergure.</p>
          <table>
            <tr>
              <th>Durée</th>
              <th>Tarif</th>
            </tr>
            <tr>
              <td>1h</td>
              <td>70€</td>
            </tr>
            <tr>
              <td>1h30</td>
              <td>90€</td>
            </tr>
          </table>
        </div>
        <div class="massage1-image"></div>
      </div>
      <div class="central-line-massage1"></div>
    </div>
    <div class="massage2">
      <div class="massage2-content">
        <div class="massage2-image"></div>
        <div class="massage2-text">
          <h1>KOBIDO</h1>
          <p>Le Kobido est un massage japonais du visage. Véritable lifting naturel, il est aussi profondément relaxant.</p>
          <p>Formé par Maître Takumi Finch, j’ai appris sa vision de l’art et de la technicité ancestrale japonaise.</p>
          <p>Efficace sur la peau, les rides d’expressions et les muscles du visage, un kobido est un véritable coup d’éclat à votre teint. Pratiqué régulièrement, c’est la santé naturelle de votre visage qui est améliorée. L’esprit est apaisé, les traits sont repulpés.</p>
          <table>
            <tr>
              <th>Unité</th>
              <th>Durée*</th>
              <th>Tarif</th>
            </tr>
            <tr>
              <td>1</td>
              <td>1h</td>
              <td>75€</td>
            </tr>
            <tr>
              <td>5</td>
              <td>1h </td>
              <td>350€</td>
            </tr>
            <tr>
              <td>10</td>
              <td>1h </td>
              <td>650€</td>
            </tr>
          </table>
          <p class="info"> *5 soins d’une heure sont valables 6 mois.<br>
              *10 soins d’une heure sont valables 1 an. </p>
        </div>
      </div>
      <div class="central-line-massage2"></div>
    </div>
    <div class="massage3">
      <div class="massage3-content">
        <div class="massage3-text">
          <h1>FOOT Massage</h1>
          <p>Le foot massage est un massage des pieds et bas de jambes appris dans la pure tradition thaïlandaise. J’utilise mes mains et un morceau de bois, avec de la crème. </p>
          <p>Grâce aux connections nerveuses du pied, le foot massage stimule la circulation du sang et de la lymphe. C’est donc sur l’ensemble du corps que l’on ressent les bienfaits.</p>
          <table>
            <tr>
              <th>Durée</th>
              <th>Tarif</th>
            </tr>
            <tr>
              <td>1h</td>
              <td>65€</td>
            </tr>
          </table>
        </div>
        <div class="massage3-image"></div>
      </div>
      <div class="central-line-massage3"></div>
    </div>
    <div class="munz">
      <div class="munz-content">
        <div class="munz-text">
          <h1>MUNZ FLOOR®</h1>
          <p>MUNZ FLOOR®, l'idée est aussi géniale que simple : allongé au sol, vous effectuez des mouvements sphériques doux de la colonne vertébrale, des gestes circulaires qui vous massent de l'intérieur et libèrent le pouvoir extraordinaire des fascias.</p>
          <p>Les fascias fascinent la planète depuis peu, depuis qu'on a découvert qu'ils ont le pouvoir de se régénérer et d'être des réponses radicales contre vieillissement, maladies chroniques, et mal de dos.</p>
          <p>En 1 séance, vous vous sentirez non seulement plus souple et tonique à la fois, vous allez également ressentir un net état méditatif extrêmement agréable.</p>
          <p>La méthode MUNZ FLOOR® a été multi primée en France et aux États-Unis, elle est également reconnue pour ses effets fortement anti-inflammatoire, elle fait des merveilles contre le stress et les soucis de sommeil.</p>
          <p>MUNZ FLOOR® change la vie des gens, celle des danseurs et des athlètes olympiques, celle du grand public à l’international.</p>
          <p>2 cours à Biarritz, <a href="https://www.google.com/maps/place/8+Rue+Jean+Bart,+64200+Biarritz/@43.4809708,-1.5629177,17z/data=!3m1!4b1!4m6!3m5!1s0xd516ad7b0a6ecbf:0xd62e2f2bb86ae976!8m2!3d43.480967!4d-1.5580468!16s%2Fg%2F11c2h4th_f?entry=ttu&g_ep=EgoyMDI0MTEwNi4wIKXMDSoASAFQAw%3D%3D">studio Maritzuli 8 rue Jean Bart</a>, les mardis à 18h et à 19h30 et 1 cours à Anglet, <a href="https://www.google.com/maps/place/STUDIO+CDANTZA/@43.521193,-1.5070524,17z/data=!3m1!4b1!4m6!3m5!1s0xd5141782b1cc081:0xd757c9a7f3cf8a85!8m2!3d43.5211892!4d-1.5021815!16s%2Fg%2F11qzcpc503!5m1!1e4?hl=fr&entry=ttu&g_ep=EgoyMDI1MDQwMS4wIKXMDSoASAFQAw%3D%3D">studio CDANTZA 4 rue du Lazaret</a>, les vendredis de 12h15 à 13h30</p>
          <p>En visio via zoom les jeudis à 18h et les samedis à 17h.</p>
          <table>
            <tr>
              <th>Cours</th>
              <th>Tarif</th>
            </tr>
            <tr>
              <td>Tarif découverte</td>
              <td>12€</td>
            </tr>
            <tr>
              <td>Cours à l’unité</td>
              <td>24€</td>
            </tr>
            <tr>
              <td>Carte de 10 cours</td>
              <td>180€</td>
            </tr>
          </table>
        </div>
        <div class="munz-image"></div>
      </div>
      <div class="central-line-munz"></div>
    </div>
  </div>
  <div class="map-container-pc" id="pc">
    <%# <h1>Where we are</h1> %>
    <div class="maps">
      <div class="map-caption">
        <div id="map1" class="map-massage"></div>
        <h3><a href="https://maps.app.goo.gl/81m3SyYDZo5vJAcm7">Pour les Massages <span class="material-symbols-outlined">left_click</span></a></h3>
      </div>
      <div class="map-caption">
        <div id="map2" class="map-muntz"></div>
        <h3><a href="https://www.google.com/maps/place/8+Rue+Jean+Bart,+64200+Biarritz/@43.4809708,-1.5629177,17z/data=!3m1!4b1!4m6!3m5!1s0xd516ad7b0a6ecbf:0xd62e2f2bb86ae976!8m2!3d43.480967!4d-1.5580468!16s%2Fg%2F11c2h4th_f?entry=ttu&g_ep=EgoyMDI0MTEwNi4wIKXMDSoASAFQAw%3D%3D">Pour les Cours MUNZ FLOOR® <span class="material-symbols-outlined">left_click</span></a></h3>
      </div>
    </div>
  </div>
  <div id="phone">
    <%# <h1 style="margin-top:10px">Where we are</h1> %>
    <h3><a href="https://www.google.com/maps/place/1+Av.+de+Minerva,+64600+Anglet/@43.4808585,-1.5101789,17z/data=!3m1!4b1!4m6!3m5!1s0xd51400f75db4b73:0x734da436959648b3!8m2!3d43.4808585!4d-1.5101789!16s%2Fg%2F11gfhbkjrb?entry=ttu&g_ep=EgoyMDI0MTEwNi4wIKXMDSoASAFQAw%3D%3D">Pour les Massages <span class="material-symbols-outlined">left_click</span></a></h3>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2895.0262864894457!2d-1.5103947999999998!3d43.48092179999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd516b944c8e2c8d%3A0x2a02ba6f010da807!2sRAYA%20Biarritz!5e0!3m2!1sen!2sfr!4v1731510719417!5m2!1sen!2sfr" width="300" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <h3 style="margin-top: 10px;"><a href="https://www.google.com/maps/place/8+Rue+Jean+Bart,+64200+Biarritz/@43.4809708,-1.5629177,17z/data=!3m1!4b1!4m6!3m5!1s0xd516ad7b0a6ecbf:0xd62e2f2bb86ae976!8m2!3d43.480967!4d-1.5580468!16s%2Fg%2F11c2h4th_f?entry=ttu&g_ep=EgoyMDI0MTEwNi4wIKXMDSoASAFQAw%3D%3D">Pour les Cours MUNZ FLOOR®<span class="material-symbols-outlined">left_click</span></a></h3>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2895.024122021267!2d-1.5606217232832906!3d43.48096697111091!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd516ad7b0a6ecbf%3A0xd62e2f2bb86ae976!2s8%20Rue%20Jean%20Bart%2C%2064200%20Biarritz!5e0!3m2!1sen!2sfr!4v1731507596116!5m2!1sen!2sfr" width="300" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  <div class="swiper mySwiper mb-2" data-controller="swiper">
    <div class="swiper-wrapper">
      <% @reviews.each do |review|%>
      <div class="swiper-slide">
        <div class="review-card">
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 48 48">
          <path fill="#FFC107" d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12c0-6.627,5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24c0,11.045,8.955,20,20,20c11.045,0,20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z"></path><path fill="#FF3D00" d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z"></path><path fill="#4CAF50" d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z"></path><path fill="#1976D2" d="M43.611,20.083H42V20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z"></path>
          </svg>
          <h4><%=review[:author]%></h4>
          <p>Rating: <%=review[:rating]%> ★</p>
          <p><%=review[:text]%></p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="footer">
    <div class="address">
      <p>Baptiste Fisson</p>
      <p><a href="https://www.google.com/maps/place/1+Av.+de+Minerva,+64600+Anglet/@43.4808585,-1.5101789,17z/data=!3m1!4b1!4m6!3m5!1s0xd51400f75db4b73:0x734da436959648b3!8m2!3d43.4808585!4d-1.5101789!16s%2Fg%2F11gfhbkjrb?entry=ttu&g_ep=EgoyMDI0MTEwNi4wIKXMDSoASAFQAw%3D%3D">1 avenue de minerva</a></p>
      <p>Entrée A</p>
      <p>64600 ANGLET</p>
    </div>
    <div class="social">
      <div class="logo"></div>
      <div class="insta-face">
        <a href="https://www.facebook.com/RAYAbiarritz"><img src="https://img.icons8.com/?size=100&id=13912&format=png&color=000000" alt="facebook icon" ></a>
        <a href="https://www.instagram.com/raya_biarritz/"><img src="https://img.icons8.com/?size=100&id=32323&format=png&color=000000" alt="instagram icon"></a>
      </div>
    </div>
    <div class="contact">
      <a href="tel:+33672412141">0672412141 <img src="https://img.icons8.com/?size=100&id=9659&format=png&color=bf7857" alt="phone icon" ></a><br>
      <a href="mailto:baptiste@raya-biarritz.fr">baptiste@raya-biarritz.fr <img src="https://img.icons8.com/?size=100&id=12580&format=png&color=bf7857" alt="email icon"></a>
    </div>
  </div>
</div>
